#float-button {
  background: #999;
  text-align: center;
  height: 90px;
  width: 90px;
  border-radius: 15px;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
}

#float-window {
  background: #999;
  text-align: center;
  height: 90px;
  width: 180px;
  border-radius: 15px;
  position: fixed;
  display: block;
  top: 90px;
  left: 0;
}

.content {
  font-size: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: left;
  font-family: "微软雅黑";
}

.basic-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  max-width: 500px;
  background: #078;
  text-align: center;
}

.article {
  top: 0;
  width: 70%;
  height: 100%;
  background-color: white;
  padding-left: 30%;
}

.profile img {
  width: 90px;
  height: 90px;
  border-radius: 15px;
  margin-top: 45%;
}

.profile h1 {
  vertical-align: middle;
  text-align: center;
}

ul {
  -webkit-padding-start: 40px;
  -webkit-padding-end: 40px;
}

p {
  text-indent:2em;
}

a {
  text-decoration: none;
}

.div {
  display: block;
}

.profile {
  vertical-align: middle;
  text-align: center;
}

.contact {
  padding-bottom: 10px;
}

ul {
  margin-top: 25px;
  text-align: left;
}

h2 {
  font-weight: bold;
  line-height: 1.5em;
  font-size: 150%;
  margin: 15px auto 15px auto;
  color: #333;
}

.blog li {
  color:black;
  text-decoration: none;
  display: block;
  font-size: 120%;
}

.blog li a{
  color:black;
  text-decoration: none;
  display: block;
  font-size: 120%;
  font-weight: bold;
  padding-bottom: 10px;
}

.blog li a:hover {
  color: #078;
}

.homework li {
  color:black;
  text-decoration: none;
  display: block;
  font-size: 120%;
}

.homework li a{
  color:black;
  text-decoration: none;
  display: block;
  padding-bottom: 10px;
}

.homework li a:hover {
  color: #078;
}

@media screen and (max-width:768px){
  .basic-info {
    position:relative;
    width:100%;
    height:260px;
    max-width:none;
    background:#078;
    text-align: center;
  }
  .profile img {
  width: 90px;
  height: 90px;
  border-radius: 15px;
  margin-top: 30px;
  }
  .profile h1 {
    vertical-align: middle;
    text-align: center;
  }
  .article {
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding-left: 0;
  }
  body {
    margin: 0;
  }
}
